h1{
    color:crimson
}
img{
    width: 160px;
}
#thirdDiv{
    height: 500px;
    width: 600px;
    background-color: lemonchiffon;
}
#SpanId{
    font-size: 18px;
    margin: 50px;
}
.divClass{
    padding: 50px;
    border: 2px solid blanchedalmond;

}